.hottest-category {
  flex:1;
  overflow: initial;
  margin-bottom: 50px;
  .slider-item {
  }
  .swiper-button-prev::after, .swiper-button-next::after {
    font-size: 14px;
    font-weight: 600;
    color: var(--gray-100);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .swiper-button-prev {
    left: auto;
    right: 30px;
    top: -32px;
  }
  .swiper-button-next {
    right: 8px;
    top: -32px;
  }
  .swiper-pagination {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .hottest-category {
    .slider-item {
    }
    .swiper-button-prev::after, .swiper-button-next::after {
      font-size: 14px;
      font-weight: 600;
      color: var(--gray-100);
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .swiper-button-prev {
      display: none;
    }
    .swiper-button-next {
      display: none;
    }
    .swiper-pagination {
      position: absolute;
      bottom: -30px;
      display: flex;
      align-items: center;
      justify-content: center;
      
      .swiper-pagination-bullet {
        background-color: var(--gray-50);
        width: 8px;
        height: 8px;
      }
      .swiper-pagination-bullet-active {
        background-color: transparent;
        position: relative;
        border-radius: 100%;
          width: 18px;
          height: 18px;
          border: 1px solid var(--gray);
        &::after {
          position: absolute;
          content: "";
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 10px;
          height: 10px;
          border-radius: 100%;
          background-color: var(--gray);
        } 
      }
    }
  }
  
}